
<div class="acnt">

    <div class="sign-in">
        <div class="acnt-container">
            <i class="fas fa-user fa-3x"></i>
            <h2>Welcome back!</h2>
            <p class="acnt-p">If you already has an account, just sign in. We've missed you!</p>
            <a href="/sign-in"><button>Sign In <i class="fas fa-arrow-circle-right"></i></button></a>
        </div>
    </div>



    <div class="sign-up">
        <div class="acnt-container">
            <i class="fas fa-user-plus fa-3x"></i>
            <h2>New here?</h2>
            <p class="acnt-p">Enter your personal details and start journey with us</p>

            <div class="location">
                <select>
                    <option value="0">Canada(+1)</option>
                    <option value="1">Alberta</option>
                    <option value="2">British Columbia</option>
                    <option value="3">Manitoba</option>
                    <option value="4">Ontario</option>
                    <option value="5">Quebec</option>
                    <option value="6">Nova Scotia</option>
                </select>

                <div>
                    <input name="phone number" type="tel" placeholder="Phone number" class="reg-phone-num">
                </div>
            </div>

            <div>
                <p class="reg-undertext">We’ll call or text you to confirm your number.</p>
            </div>


            <button>Continue <i class="fas fa-arrow-circle-right"></i></button></a>

            <div class="divide">
                <span>or continue with</span>
            </div>

            <div class="icon-row">
                <div class="icons">
                    <a href="/sign-up">
                        <button>
                            {{!-- <button class="email-btn"></button> --}}
                            <i class="fas fa-envelope fa-2x"></i>
                            {{!-- <span>Continue with Email </span> --}}
                        </button></a>
                </div>

                <div class="icons">
                    <button>
                        <i class="fab fa-facebook-square fa-2x"></i>
                    </button>
                </div>

                <div class="icons">
                    <button>
                        <i class="fab fa-google-plus-square fa-2x"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

