<h2 class="prg-title">Add New Rooms</h2>

<div></div>
    
    <form method="POST" action="/roomz/add-room" enctype="multipart/form-data" class="enter-info">

        <label>Title</label>
        <input type="text" name="titl" id="titl"> <br><br>

        <label>Price</label>
        <input type="text" name="prc" id="prc"> <br><br>

        <label>Description</label>
        <textarea id="descr" name="descr"></textarea><br><br>

        <label>Location</label>
        <input type="text" name="loc" id="loc"> <br><br>

        <label>Room Type</label>
        <input type="text" name="roomFeatured" id="roomFeatured" value={{roomFeatured}}> <br><br>

        {{!-- <label>Room Type</label>
        <select name="type">
            <option value="regular">Regular</option>
            <option value="featured">Featured</option>
        </select> --}}

         <label class="file">
             File Upload
        <input type="file" name="roomPhoto" id="roomPhoto">
        <span class="file-custom"></span>
        </label>
        <br><br>

        <input type="submit" value="Add">

    </form>
