<h2>Welcome Adminstrator {{user.firstName}} {{user.lastName}}</h2>

<main> 
   {{!-- {{#each data}}
    <div>
        First Name : {{this.firstName}}
    </div>

    <div>
        Last Name : {{this.lastName}}
    </div>
{{/each}} --}}

</main>
<!-- User Profile pic will go here
<img src=""> -->

<div>
    <a href="/user-reg/add-room">Create a Room</a>
</div>