{{#each errors}}
<div>{{this}}</div>
{{/each}}

{{!-- <h2>Login User</h2>
<form action="/user-reg/login" method="POST">
    <label for="username">Email</label>
    <input type="text" id="email" name="email"><br><br>

    <label for="password">Password</label>
    <input type="password" id="password" name="password"> <br><br>

    <input type="submit" value="Login">
</form> --}}

<div>
  <h2 class="prg-title">Login To Your Account</h2>
  <form action="/user-reg/login" method="POST" id="login-form">
    <div class="left">

      <label for="username">Email</label>
      <input type="email" id="email" name="email"><br><br>
      <p class="error-msg"> {{signin.eMail}}</p>

      <label for="password">Password</label>
      <input type="password" id="password" name="password"> <br><br>
      <p class="error-msg"> {{signin.passw}}</p>

      <input type="submit" value="Login" />
    </div>

    <div class="right">
      <div class="connect">Connect with</div>
      <a href="" class="email">
        <i class="fas fa-envelope fa-lg"></i>
      </a> <br />
      <a href="" class="fb">
        <i class="fab fa-facebook fa-lg"></i>
      </a> <br />
      <a href="" class="google-plus">
        <i class="fab fa-google-plus-square fa-lg"></i>
      </a>
    </div>
  </form>
</div>