  
<h2>Welcome Person</h2>

<main> 
   {{#each data}}
    <div>
        First Name : 
    </div>

    <div>
        Last Name : 
    </div>
{{/each}}

</main>
<!-- User Profile pic will go here
<img src=""> -->

<div>
    {{!-- <a href="/task/list">Task Dashboard </a> --}}
</div>