  
<h2>Welcome {{user.firstName}} {{user.lastName}}</h2>

<main> 
   {{!-- {{#each data}}
    <div>
        First Name : {{this.firstName}}
    </div>

    <div>
        Last Name : {{this.lastName}}
    </div>
{{/each}} --}}

</main>
<!-- User Profile pic will go here
<img src=""> -->

<div>
    {{!-- <a href="/task/list">Task Dashboard </a> --}}
</div>